<table id="myTable">
      {{#each showtimes}}
  <tr>
  
    <th>{{venue.name}}</th>
    <th>{{movie.title}}</th>
    <th>{{date}}</th>
    <th>{{time}}</th>
    <th> <a href="delete-showtime/{{_id}}">DELETE</a></th>
  
  </tr>
    {{/each}}
  
</table>

<a href="/admin/create-showtime">ADD SHOWTIME</a>
<br>
<br>
<a href="/admin/">ADMIN DASHBOARD</a>

