<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{!--
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> --}}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Magic Cinemas</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/style2.css" />


</head>

<body>
    <div class="mobile" style="z-index:-9999; position:fixed">
        <p>THIS WEBSITE IS MEANT TO BE SEEN ON A BIG SCREEN</p>
    </div>
    <span class="entire">
        <section
            class="top-element relative w-full px-8 text-white  {{#if globalUser.isAdmin}} bg-gradient-to-t from-gray-500 to-gray-600  {{else}}bg-gradient-to-t from-orange-600 to-orange-500 {{/if}}body-font">
            <div
                class="container flex flex-col flex-wrap items-center justify-between py-1 mx-auto md:flex-row max-w-7xl">
                <img class="  md:h-auto object-cover  rounded-t-lg md:rounded-none md:rounded-l-lg"
                    src="/images/logo.png" alt="HTML tutorial" style="width:190px; margin:-10px 0px -20px -50px" />
                <nav
                    class="top-0 left-0 z-0 flex items-center justify-center w-full h-full py-5 -ml-0 space-x-5 text-base md:-ml-5 md:py-0 md:absolute">
                    <a href="/movies">
                        <button style="padding-left: 75px"
                            class="w-60 text-gray-600 bg-white border border-solid border-gray-100 hover:bg-black hover:text-white active:bg-orange-600 font-bold uppercase px-8 py-3 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 text-center inline-flex items-center"
                            type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M7 4v16M17 4v16M3 8h4m10 0h4M3 12h18M3 16h4m10 0h4M4 20h16a1 1 0 001-1V5a1 1 0 00-1-1H4a1 1 0 00-1 1v14a1 1 0 001 1z" />
                            </svg>
                            Movies
                        </button>
                    </a>
                    <a href="/venues">
                        <button style="padding-left: 70px"
                            class="w-60 text-gray-600 bg-white border border-solid border-gray-100 hover:bg-black hover:text-white active:bg-orange-600 font-bold uppercase px-8 py-3 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 inline-flex"
                            type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16m14 0h2m-2 0h-5m-9 0H3m2 0h5M9 7h1m-1 4h1m4-4h1m-1 4h1m-5 10v-5a1 1 0 011-1h2a1 1 0 011 1v5m-4 0h4" />
                            </svg>
                            Venues
                        </button>
                    </a>
                </nav>

                {{#if globalUser.username}}
                <div class="relative z-10 inline-flex items-center space-x-6 md:ml-5 lg:justify-end">
                    {{#unless globalUser.isAdmin}}
                    <a href="/user/dashboard"
                        class="relative font-medium text-lg leading-6 text-white transition duration-150 ease-out hover:text-gray-900"
                        x-data="{ hover: false }" @mouseenter="hover = true" @mouseleave="hover = false">
                        <span class="block">Welcome {{globalUser.firstName}}! (Account)</span>
                        <span class="absolute bottom-0 left-0 inline-block w-full h-0.5 -mb-1 overflow-hidden">
                            <span x-show="hover"
                                class="absolute inset-0 inline-block w-full h-1 h-full transform bg-gray-900"
                                x-transition:enter="transition ease duration-200" x-transition:enter-start="scale-0"
                                x-transition:enter-end="scale-100" x-transition:leave="transition ease-out duration-300"
                                x-transition:leave-start="scale-100" x-transition:leave-end="scale-0"></span>
                        </span>
                    </a>
                    {{/unless}}
                    {{#if globalUser.isAdmin}}
                    <a href="/admin"
                        class="relative font-medium text-lg leading-6 text-white transition duration-150 ease-out hover:text-gray-900"
                        x-data="{ hover: false }" @mouseenter="hover = true" @mouseleave="hover = false">
                        <span class="block">Admin Panel</span>
                        <span class="absolute bottom-0 left-0 inline-block w-full h-0.5 -mb-1 overflow-hidden">
                            <span x-show="hover"
                                class="absolute inset-0 inline-block w-full h-1 h-full transform bg-gray-900"
                                x-transition:enter="transition ease duration-200" x-transition:enter-start="scale-0"
                                x-transition:enter-end="scale-100" x-transition:leave="transition ease-out duration-300"
                                x-transition:leave-start="scale-100" x-transition:leave-end="scale-0"></span>
                        </span>
                    </a>
                    {{/if}}
                    <a href="/logout"
                        class="relative font-medium text-lg leading-6 text-white transition duration-150 ease-out hover:text-gray-900"
                        x-data="{ hover: false }" @mouseenter="hover = true" @mouseleave="hover = false">
                        <span class="block">Logout</span>
                        <span class="absolute bottom-0 left-0 inline-block w-full h-0.5 -mb-1 overflow-hidden">
                            <span x-show="hover"
                                class="absolute inset-0 inline-block w-full h-1 h-full transform bg-gray-900"
                                x-transition:enter="transition ease duration-200" x-transition:enter-start="scale-0"
                                x-transition:enter-end="scale-100" x-transition:leave="transition ease-out duration-300"
                                x-transition:leave-start="scale-100" x-transition:leave-end="scale-0"></span>
                        </span>
                    </a>
                </div>
                {{else}}
                <div class="relative z-10 inline-flex items-center space-x-6 md:ml-5 lg:justify-end">
                    <a href="/login"
                        class="relative font-medium text-lg leading-6 text-white transition duration-150 ease-out hover:text-gray-900"
                        x-data="{ hover: false }" @mouseenter="hover = true" @mouseleave="hover = false">
                        <span class="block">Sign In</span>
                        <span class="absolute bottom-0 left-0 inline-block w-full h-0.5 -mb-1 overflow-hidden">
                            <span x-show="hover"
                                class="absolute inset-0 inline-block w-full h-1 h-full transform bg-gray-900"
                                x-transition:enter="transition ease duration-200" x-transition:enter-start="scale-0"
                                x-transition:enter-end="scale-100" x-transition:leave="transition ease-out duration-300"
                                x-transition:leave-start="scale-100" x-transition:leave-end="scale-0"></span>
                        </span>
                    </a>
                    <span class="inline-flex rounded-md shadow-sm">
                        <a href="/signup"
                            class="inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-orange-400 border border-gray-200 rounded-md shadow-sm hover:bg-blue-700 hover:text-gray-600 hover:bg-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                            Sign up
                        </a>
                    </span>
                </div>
                {{/if}}

            </div>
        </section>






        {{#if globalUser.alert}}
        <div
            class="relative z-20 flex items-center justify-center w-full h-12 px-5 overflow-hidden text-lg font-normal cursor-pointer bg-blue-700 text-blue-50">
            <div class="relative flex items-center justify-center w-full h-full mx-auto max-w-7xl">
                <svg class="w-8 h-8 mr-1 text-blue-100 stroke-current" fill="none" stroke="currentColor"
                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M15 5v2m0 4v2m0 4v2M5 5a2 2 0 00-2 2v3a2 2 0 110 4v3a2 2 0 002 2h14a2 2 0 002-2v-3a2 2 0 110-4V7a2 2 0 00-2-2H5z">
                    </path>
                </svg>
                <a href="/user/tickets"> <span><span class="hidden sm:inline-block"> </span>{{globalUser.alert}}. Click
                        here to view your Tickets.</span></a>
                <a id="alert" href="/user/dismiss-alerts"
                    class="inline-flex items-center justify-center ml-20 px-12 text-base font-medium leading-6 text-white whitespace-no-wrap bg-black border border-gray-200 rounded-md shadow-sm hover:text-white hover:bg-gray-700 focus:outline-none focus:shadow-none">
                    Dismiss
                </a>
            </div>
        </div>
        {{/if}}

        <script>
            document.getElementById("alert").href = "/user/dismiss-alerts?red=" + window.location.href;
        </script>

        {{{body}}}


        <section class="bottom-element w-full bg-orange-600">
            <div class="px-8 py-12 mx-auto max-w-7xl">
                <div class="grid grid-cols-2 gap-10 mb-3 md:grid-cols-3 lg:grid-cols-12 lg:gap-20">
                    <div class="col-span-3">
                        <a href="#_" class="text-xl font-black leading-none text-white select-none logo">Movie Magic
                            Cinemas</a>
                        <p class="my-4 text-xs leading-normal text-white">
                            Beautifully designed Movie Theaters.
                        </p>
                    </div>
                    <nav class="col-span-1 md:col-span-1 lg:col-span-2">
                        <p class="mb-3 text-xs font-semibold tracking-wider text-white uppercase">Cinemas</p>
                        <a href="#"
                            class="flex mb-3 text-sm font-medium text-white transition md:mb-2 hover:text-white">Movies</a>
                        <a href="#"
                            class="flex mb-3 text-sm font-medium text-white transition md:mb-2 hover:text-white">Venues</a>
                        <a href="#"
                            class="flex mb-3 text-sm font-medium text-white transition md:mb-2 hover:text-white">Pricing</a>
                    </nav>
                    <nav class="col-span-1 md:col-span-1 lg:col-span-2">
                        <p class="mb-3 text-xs font-semibold tracking-wider text-white uppercase">About</p>
                        <a href="#"
                            class="flex mb-3 text-sm font-medium text-white transition md:mb-2 hover:text-white">Our
                            Story</a>
                        <a href="#"
                            class="flex mb-3 text-sm font-medium text-white transition md:mb-2 hover:text-white">Company</a>
                        <a href="#"
                            class="flex mb-3 text-sm font-medium text-white transition md:mb-2 hover:text-white">Privacy</a>
                        <a href="#"
                            class="flex mb-3 text-sm font-medium text-white transition md:mb-2 hover:text-white">Blog</a>
                    </nav>
                    <nav class="col-span-2 md:col-span-1 lg:col-span-2">
                        <p class="mb-3 text-xs font-semibold tracking-wider text-white uppercase">Contact</p>
                        <a href="#"
                            class="flex mb-3 text-sm font-medium text-white transition md:mb-2 hover:text-white">Advertising</a>
                        <a href="#"
                            class="flex mb-3 text-sm font-medium text-white transition md:mb-2 hover:text-white">Press</a>
                        <a href="#"
                            class="flex mb-3 text-sm font-medium text-white transition md:mb-2 hover:text-white">Email</a>
                        <a href="#"
                            class="flex mb-3 text-sm font-medium text-white transition md:mb-2 hover:text-white">Partners</a>
                        <a href="#"
                            class="flex mb-3 text-sm font-medium text-white transition md:mb-2 hover:text-white">Jobs</a>
                    </nav>
                    <div class="col-span-3">
                        <span
                            class="inline-flex justify-center w-full mt-4 space-x-5 sm:ml-auto sm:mt-0 sm:justify-end">
                            <a href="#" class="text-white hover:text-white">
                                <span class="sr-only">Facebook</span>
                                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </a>

                            <a href="#" class="text-white hover:text-white">
                                <span class="sr-only">Instagram</span>
                                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </a>

                            <a href="#" class="text-white hover:text-white">
                                <span class="sr-only">Twitter</span>
                                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                    <path
                                        d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84">
                                    </path>
                                </svg>
                            </a>


                        </span>
                    </div>
                </div>
                <div
                    class="flex flex-col items-start justify-between pt-10 mt-10 border-t border-white md:flex-row md:items-center">
                    <p class="mb-6 text-sm text-left text-white md:mb-0">© Copyright 2021 Tails. All Rights Reserved.
                    </p>
                    <div class="flex items-start justify-start space-x-6 md:items-center md:justify-center">
                        <a href="#_" class="text-sm text-white transition hover:text-white">Terms</a>
                        <a href="#_" class="text-sm text-white transition hover:text-white">Privacy</a>
                    </div>
                </div>
            </div>
        </section>
        <script src="/js/script.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.8.0/alpine.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
        <script src="https://unpkg.com/@themesberg/flowbite@1.3.0/dist/flowbite.bundle.js"></script>
    </span>


</body>

</html>