
<!-- Section 1 -->
<section class="relative block w-full pt-10 pb-20 overflow-hidden leading-6 text-left text-indigo-900 bg-white bg-no-repeat bg-cover">
    <div class="w-full px-8 mx-auto leading-6 text-left xl:px-12 max-w-7xl">
       
        <div class="relative flex block w-full  mx-auto mt-6 text-indigo-900 select-none">
            <!-- Start Pricing Plan -->
            <div class="relative left-0 flex flex-col block float-left w-full h-full leading-6 text-left md:flex-row">

               
{{#each venues}}
                <div class="relative flex w-96 px-4 mx-auto leading-6 text-left " style="height: 500px;">
                    <div class="pb-12 mb-16 overflow-hidden text-indigo-900 rounded-lg shadow-xl md:mb-0">
                        <img src="{{picUrl}}" style="height: 200px; width: 375px;" class="block w-auto -mx-px leading-6 text-left align-middle border-none">
                        <div class="px-12 mt-12 leading-6 text-left">
                            <div class="flex flex-wrap justify-between mb-5 text-xl text-indigo-900">
                                <div class="text-xl text-left">
                                    {{name}}
                                </div>
                                <div class="text-base text-left">
                                 <b>Seating: </b>{{seating}}
                                </div>
                            </div>
                            <div class="text-sm text-left">
                            {{location}}                            </div>
                            <a href="/venues/{{_id}}?movieDate={{../today}}" class="flex items-center justify-center w-full h-12 px-2 py-1 mt-8 text-base font-normal text-center  no-underline align-middle border border-solid rounded cursor-pointer select-none text-white text-white whitespace-no-wrap bg-orange-600 border border-gray-200 rounded-md shadow-sm hover:bg-orange-300 focus:outline-none focus:shadow-none">
                                Explore
                            </a>
                        </div>
                    </div>
                </div>
{{/each}}
            </div>
            <!-- End Pricing Plans -->


        </div>
    </div>
    <!-- End Max Width Container -->
</section>


{{!-- 
<h1 class="tab">Venues</h1>
<div class="container-all-venues">
{{#each venues}}
    <div>
    <div><a href="/venues/{{_id}}?movieDate={{../today}}"><h2>{{name}}</h2></a></div> 
    <div>{{location}} <br></div>
    </div>
{{/each}}<br>
</div>
<br>
<br> --}}
{{#if errorMessage}}
   {{errorMessage}}
{{/if}}