<h1 class="tab">Venues</h1>
<div class="container-all-venues">
{{#each venues}}
    <div>
    <div><a href="/venues/{{_id}}?movieDate={{../today}}"><h2>{{name}}</h2></a></div> 
    <div>{{location}} <br></div>
    </div>
{{/each}}<br>
</div>
<br>
<br>
{{#if errorMessage}}
   {{errorMessage}}
{{/if}}